@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply flex w-full h-full bg-black text-white overflow-hidden;
  /* color: rgb(var(--foreground-rgb));
   background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

nav {
  @apply min-w-full flex items-center bg-stone-600;
}

main {
  @apply flex bg-neutral-500 text-white p-4 w-screen h-full;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .logo {
    @apply w-12 h-12 m-4 bg-white;
  }

  .text-page-title {
    @apply m-4 text-3xl;
  }
}
