@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  --tw-text-shadow-opacity: 0.5;
  --tw-text-shadow-color: rgba(255, 255, 255, var(--tw-text-shadow-opacity));
  --tw-text-shadow: 0.2rem 0.2rem 0.6rem var(--tw-text-shadow-color);
}

.text-shadow {
  --tw-text-shadow-color: rbga(255, 255, 255, 1);
  --tw-text-shadow: 0.1rem 0.1rem 0.5rem var(--tw-text-shadow-opacity);
  text-shadow: var(--tw-text-shadow);
}

@layer base {
}

@layer components {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .logo {
    @apply w-auto h-12 m-4 stroke-white stroke-[3px] border-solid border-white border-[1px];
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .menu {
    @apply w-[30%] flex justify-around;
  }

  .menu_item {
    /* @apply mt-4 pb-4 mx-4 px-4 text-white hover:border-b-white hover:border-b-[3px] hover:drop-shadow-[_0px_0px_4px_rgba(255,255,255,0.4)]; */
    /* https://cssf1.com/snippet/add-text-shadow-with-tailwind-css */
    @apply mt-4 pb-4 mx-4 px-4 text-white hover:drop-shadow-[_0px_0px_7px_rgba(255,255,255,0.5)];
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .menu_item > span {
    /* @apply hover:underline hover:duration-300 cursor-pointer; */
    /* @apply hover:bg-gradient-to-r hover:from-cyan-500 hover:to-blue-500; */
    @apply text-2xl mx-4;
    /* @apply text-2xl mx-4 text-shadow; */
  }

  .background {
    @apply w-full h-full;
  }
}

html,
body {
  @apply w-full max-h-full text-white overflow-x-hidden;
  /* color: rgb(var(--foreground-rgb));
   background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

nav {
  @apply min-w-full flex items-center bg-zinc-700;
}

main {
  @apply w-screen min-h-full pt-4 pb-[5%];
}

p {
  @apply mb-4;
}
