@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply w-full h-full bg-white text-black overflow-hidden;
  /* color: rgb(var(--foreground-rgb));
   background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
nav {
  @apply min-w-full flex flex-row bg-blue-500;
}
main {
  @apply bg-white text-black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
