@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

a {
  @apply text-blue-600 hover:text-blue-800;
}

body.dark a {
  @apply text-blue-400 hover:text-green-400;
}

.prose {
  @apply text-gray-800;
}

body.dark .prose {
  @apply text-gray-100;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-gray-900;
}

body.dark .prose h1,
body.dark .prose h2,
body.dark .prose h3,
body.dark .prose h4,
body.dark .prose h5,
body.dark .prose h6 {
  @apply text-blue-400;
}

.prose a {
  @apply text-blue-600;
}

body.dark .prose a {
  @apply text-blue-400;
}

.prose code {
  @apply bg-gray-200 text-gray-800;
}

body.dark .prose code {
  @apply bg-gray-800 text-gray-200;
}
